@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <li>
            @Html.ActionLink("Bienvenido " + User.Identity.GetUserName() + "!", "Index", "Yo", routeValues: new { Area="Miembros" }, htmlAttributes: new { title = "Manage", @class = "button small" })
        </li>
        <li><a class="button small" href="javascript:document.getElementById('logoutForm').submit()">Cerrar</a></li>
 
    using (Html.BeginForm("LogOff", "Account", new { Area="" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "button small" })</li>
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button small" })</li>
    
}
