@{

}
<div class="row">
    <div class="large-12 columns">
        <h2>Gracias</h2> <p>Por confirmar tu email... ahora puedes iniciar sesión</p>
        <a href="@Url.Action("LogIn", "Account", new { Area="" })" class="button success">Iniciar Sesión</a>
    </div>
</div>
