@{
    ViewBag.Title = "Hail Brotha!";
}
<div class="row">
    <div class="large-12 columns" id="paso_1">
        <hr />
        <h1>Bienvenido Triste y Desafortunado Caballero</h1>
        <h5 class="wow fadeIn" data-wow-delay="1s">¿Estas a final de semestre y no has terminado un trabajo final?</h5>
        <h5 class="wow fadeIn" data-wow-delay="2s">¿No fuiste a una clase en todo el semestre y quieres pasar el examen extraordinario a como de lugar...?</h5>
        <h5 class="wow fadeIn" data-wow-delay="3s">¿Un profesor te pidio un trabajo de 200 hojas para mañana y no sabes por donde empezar...?</h5>
        <h5 class="wow fadeIn" data-wow-delay="4s">Ó Peor aun, ¿ninguno de tus "AMIGOS" quiere pasarte el trabajo por que eres un(a) gandalla y no lo vas a modificar ...?</h5>
        <h5 class="wow fadeIn" data-wow-delay="5s">Ó Simplemente quieres pasarte el semestre sin hacer nada y aun asi ser el favorito del profesor</h5>
        <hr />
    </div>
</div>
<div class="row">
    <div class="large-12 columns text-center">
        <a href="#Solucion" data-wow-delay="6s" data-reveal-id="modalInfo" class="button large success wow bounceInLeft">¡SI!, DAME LA SOLUCIÓN <span>Versión Animada</span></a>

        <a href="#SolucionTexto" data-wow-delay="6s" data-reveal-id="modalInfo" class="button large success wow bounceInLeft">¡SI!, DAME LA SOLUCIÓN <span>Versión Texto</span></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2 class="text-center wow fadeInLeft" data-wow-offset="500" id="Solucion">¡HOMEWORK WIZARD!</h2>
        <div class="row ">
            <div class="small-12 columns text-center wow fadeInRight" data-wow-offset="400">
                <img src="~/Content/Imagenes/Sitio/magoTareas.jpg" />
                <h3 class="lead">Por que sabemos lo que se siente.</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns text-center">
                <a href="#Mas" data-reveal-id="modalInfo" data-wow-delay="1s" class="button large success wow bounceInRight">CUENTAME MAS</a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div id="Mas" class="large-12 columns wow fadeInDown" data-wow-offset="200">
        <h3>Sabemos que tal ves tu como muchos odian al tipico cerebrito que se sienta en frente del ESCROTOrio del profesor (si...ESCROTO) para convertirse en su ayudante personal...</h3>
        <img src="~/Content/Imagenes/Sitio/fags.jpg" />
        <i>Yo y mi colega expresando nuestra opinion profesional de ellos</i>
    </div>
</div>
<div class="row">
    <div class="large-12 columns wow fadeInUp" data-wow-offset="200">
        <h3>En esta pagina podras encontrar un gran catalogo de tareas, trabajos finales, proyectos, tesis y examenes que te ayudaran a ser el mejor de la clase,</h3>
        <h3>Ademas de esto tendras la posibilidad de solicitar a nuestros colaboradores trabajos o proyectos a medida para que tu no tengas que mover un solo dedo MR. FLOJONAZO!</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns clearfix">
        <a href="#Mas_1" data-reveal-id="modalInfo" data-wow-delay="1s" class="button large success wow bounceInRight right">SIGUIENTE >></a>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div id="Mas_1" class="large-12 columns text-center">
        <h3 class="wow fadeInUp" data-wow-delay="1s" data-wow-offset="200">NO JUZGAMOS</h3>
        <h3 class="wow fadeInUp" data-wow-delay="2s" data-wow-offset="100">NO PREGUNTAMOS</h3>
        <h3 class="wow fadeInUp" data-wow-delay="3s" data-wow-offset="100">NO INCOMODAMOS</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns text-center">
        <a href="#como_Func_1" data-wow-delay="4s" class="button large success wow bounceInDown">¿COMO FUNCIONA?</a>
    </div>
</div>
<br />
<br />
<br />
<div id="como_Func_1" class="row">
    <div class="large-4 columns">
        <h3 class="wow fadeIn" data-wow-offset="500">Digamos que eres un estudiante promedio</h3>
        <img class="wow fadeInRight" data-wow-offset="300" data-wow-delay="2s" src="~/Content/Imagenes/Sitio/Bad-Luck-Brian.jpg" />
        <h4 class="wow fadeInUp" data-wow-offset="100" data-wow-delay="3s"><q>Ó mi vida es perfecta ya llegan las vacaciónes!</q></h4>
    </div>
    <div class="large-8 columns text-center">
        <h3 class="wow fadeInLeft" data-wow-offset="500" data-wow-delay="5s">Y de pronto....</h3>
        <h1 class="wow bounceIn" data-wow-offset="300" data-wow-delay="8s">BOOOM!</h1>
        <img class="wow fadeInDownBig" data-wow-offset="300" data-wow-delay="9s" src="~/Content/Imagenes/Sitio/my-teacher_o_597389.jpg" />
        <p class="wow fadeInRight" data-wow-offset="100" data-wow-delay="11s">¡Sin problemas! Solo entra a nuestra tienda en linea</p>
        <a href="#como_Func_2" data-wow-offset="100" data-wow-delay="12s" class="button large success wow bounceInDown">¡¡Simular que entro a la tienda!! </a>
    </div>
</div>
<br />
<br />
<br />
<div id="como_Func_2" class="row" >
    <div class="large-3 columns wow fadeIn" data-wow-offset="100" data-wow-delay="1s">
        <h1>ENTRA!</h1>
    </div>
    <div class="large-3 columns wow fadeIn" data-wow-offset="100" data-wow-delay="2s">
        <h1>BUSCA!</h1>
    </div>
    <div class="large-3 columns wow fadeIn" data-wow-offset="100" data-wow-delay="3s">
        <h1>COMPRA!</h1>
    </div>
    <div class="large-3 columns wow fadeIn" data-wow-offset="100" data-wow-delay=" 4s">
        <h1>ENTREGA!</h1>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/scrollMagic/js/lib/greensock/TweenMax.min.js"></script>
    <script src="~/Scripts/scrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="~/Scripts/scrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="~/Scripts/scrollMagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
}
